# Different project files
log

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse files
.project
.cproject

#Eclipse folders
Debug

.idea
.settings
.includepath

#CLion files
CMakeLists.txt

# Archive
etap*.zip
